*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.barra{
    background-color: gray;
    height: 45px;
    width: 50%;
    margin: 130px auto;
    box-shadow: inset 6px 6px 12px #303030;/*es para dar unos efectos internos*/
        inset: -6px -6p 12px #404040;
    overflow: hidden;
    border: none;
    border-radius: 20rem;
}

.progreso {
    height: 100%;
    width: 0;
    background-color: aqua;
    box-shadow: 0 0 10px aqua,
        0 0 20px aqua;
    display: block;
    border-radius: 20rem; 
}

.porcentaje {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translatey(100px);
    color: aqua;

}

body.celebracion {
    background-image: url("../img/chispas.gif");
    background-size: cover;/*para que cubra toda la clase*/
    background-repeat: no-repeat;/*la va a ajustar a su tamaño*/
}